---
import { PROJECTS } from "../lib/projects.ts";
---

<section class="space-y-12 mb-32">
  {
    PROJECTS.map(({ title, description, image, tags }) => (
      <article class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-900 shadow-lg hover:shadow-xl transition-all duration-300">
        <a href="#" target="_blank" rel="noopener noreferrer" class="block">
          <img
            src={image}
            alt={`Screenshot of the project ${title}`}
            class="w-full h-56 object-cover rounded-t-2xl transition-transform duration-300 hover:scale-105"
          />
        </a>
        <div class="p-6">
          <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
            {title}
          </h3>
          <p class="text-lg text-gray-600 dark:text-gray-400 mt-2">
            {description}
          </p>
          <ul class="flex gap-2 mt-4 flex-wrap">
            {tags.map((tag) => (
              <li>
                {tag && (
                  <span
                    class={`border border-black/20 dark:border-white/20 flex gap-x-2 rounded-full text-sm items-center ${tag.class} py-1 px-2`}
                  >
                    {tag.icon && <tag.icon class="size-4" />}
                    {tag.name}
                  </span>
                )}
              </li>
            ))}
          </ul>
        </div>
      </article>
    ))
  }
</section>
